.example-card {
    max-width: 400px;
    margin: 20px 0;
}

.mat-mdc-card {
    background-color: #f1f1f1;
}

.mat-mdc-card-content {
    text-align: center;
    margin: 10px;
}

.example-header-image {
    background-size: cover;
}

.mdc-card__actions {
    justify-content: center;
}

.mdc-button {
    width: 100%;
    border: 1px solid #c7c7c7;
}
