<mat-card class="example-card" (click)="onCardClick()">
    <mat-card-header>
        <mat-card-title>{{ card.name }}</mat-card-title>
        <mat-card-subtitle>{{ card.subCategory }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="card.images[0].url" [alt]="card.name" />
    <mat-card-content>
        <div class="price price__box">
            <span>Цена</span>
            <span>{{ formattedPrice }}</span>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="onButtonClick($event)">В корзину</button>
    </mat-card-actions>
</mat-card>
