:host {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.pagination-indexes {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}
.control-buttons {
    cursor: pointer;
}
.active-index {
    opacity: 0.6;
    background-color: aquamarine;
}
