<div
    *ngIf="popupData$ | async as popupData"
    class="popup-wrapper"
    [class.popup-wrapper--visible]="popupData.template"
>
    <div class="popup-content">
        <button
            mat-icon-button
            aria-label="Close popup button"
            class="close-button"
            (click)="onCloseClick()"
        >
            <mat-icon>close</mat-icon>
        </button>
        <ng-container
            *ngTemplateOutlet="popupData.template; context: popupData?.context"
        ></ng-container>
    </div>
</div>
